<style>
  .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #e9ecef;
     color: black;
     text-align: center;
  }
  </style>
<div class="footer">
  <p class="my-3"> &copy; 2023 My E-commerce Website. All rights reserved.</p>
</div>