<style>
  .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #E5FCC2;
     color: #594F4F;
     text-align: center;
  }
  body{
    background-color: #E5FCC2;
  }
  .colgreen{
    background-color: #d0e2d5;
  }
  .coll{
    background-color: #E5FCC2;
    border: none;
  }
  </style>
<div class="footer">
  <p class="my-3"> &copy; 2023 My E-commerce Website. All rights reserved.</p>
</div>