<footer  style="position: fixed; bottom: 0; width: 100%;" class="py-2 bg-dark mt-auto">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>