<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('partials/header.ejs') -%>

<!-- About Us -->
<div class="container my-5">
  <div class="row">
    <div class="col-lg-6">
      <h1>About Us</h1>
      <p>
        An E-commerce project involves developing an online platform that facilitates the buying and selling of goods and services. The primary goal of E-commerce is to provide users with a seamless shopping experience, making it easy for them to browse and purchase products or services.
        To build an E-commerce platform, you will need to consider various aspects such as platform selection, website design, payment gateway integration, inventory management, and shipping logistics. You will also need to ensure that the platform is secure and user-friendly.
        In addition, to attract more customers and drive sales, you will need to implement digital marketing strategies such as SEO, PPC advertising, social media marketing, and email marketing. These strategies will help you increase brand visibility, drive traffic to your website, and generate more sales.
        Overall, an E-commerce project involves developing an online platform that enables users to buy and sell products and services while ensuring a seamless shopping experience. It also involves implementing digital marketing strategies to promote the platform and drive sales.
      </p>
    </div>
    <div class="col-lg-6 text-center">
      <img src="/gallary/logo.jpeg" alt="ECommerce logo" width="500" height="500">
      <!-- <img class="img-fluid" src="https://via.placeholder.com/350x150" alt=""> -->
    </div>
  </div>
</div>

<!-- Footer -->
<%- include('partials/footer.ejs') -%>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="./js/scripts.js"></script>

